* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  
  body {
    font-family: 'Andika New Basic', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #dcf3ee; }
  
  #scroll_to_top {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    color: #16a085;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  
  .out {
    opacity: 1 !important;
    visibility: visible !important; }
  
  .fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); }
    @media (min-width: 375px) {
      .fixed {
        width: 100%; } }
    @media (min-width: 992px) {
      .fixed {
        width: 83.3333%; } }
  
  .money_red {
    color: red;
    font-weight: 600; }
  
  .money_black {
    color: #394958; }
  
  li, ul {
    list-style: none; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a {
    text-decoration: none; }
  
  #screen_black {
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh; }
  
  .nav-item {
    text-align: center; }
    .nav-item .nav-link i {
      width: 100%; }
  
  .head__top {
    align-items: center;
    background-color: #16a085;
    position: relative; }
    @media (min-width: 375px) {
      .head__top .logo {
        text-align: center; } }
    @media (min-width: 992px) {
      .head__top .logo {
        text-align: left; } }
    @media (min-width: 375px) {
      .head__top .bag {
        position: absolute;
        right: 15px;
        transform: translateY(-50%);
        font-size: 20px; } }
    @media (min-width: 992px) {
      .head__top .bag {
        position: relative;
        right: 0;
        transform: translateY(0);
        font-size: 40px; } }
    @media (min-width: 375px) {
      .head__top .hamburger {
        font-size: 20px;
        transform: translateY(-50%);
        display: block; } }
    @media (min-width: 992px) {
      .head__top .hamburger {
        transform: translateY(0);
        display: none; } }
    .head__top a {
      font-size: 40px;
      color: #fff; }
    .head__top .form-search input {
      width: 100%;
      height: 40px;
      text-indent: 20px;
      border-radius: 5px;
      border: 0;
      outline: none;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      color: #16a085; }
    .head__top .form-search i {
      right: 8px;
      top: 8px;
      font-size: 25px;
      cursor: pointer;
      color: #16a085; }
  
  .head__bottom {
    background-color: #394958;
    overflow-x: auto; }
    .head__bottom .nav-list .nav-item .nav-link {
      color: #e0dcdc; }
      @media (min-width: 768px) {
        .head__bottom .nav-list .nav-item .nav-link {
          width: 170px; } }
      @media (min-width: 1200px) {
        .head__bottom .nav-list .nav-item .nav-link {
          width: auto; } }
      @media (min-width: 375px) {
        .head__bottom .nav-list .nav-item .nav-link span {
          display: none; } }
      @media (min-width: 768px) {
        .head__bottom .nav-list .nav-item .nav-link span {
          display: block; } }
      .head__bottom .nav-list .nav-item .nav-link:hover {
        color: #16a085;
        background-color: #475868; }
  
  .menu-secondary {
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    width: 70%;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s;
    background-color: #16a085;
    height: 100vh; }
    .menu-secondary ul .login {
      font-size: 20px;
      background-color: #475868; }
      .menu-secondary ul .login span {
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff; }
    .menu-secondary ul li a {
      display: block;
      color: #fff;
      padding: 15px;
      transition: margin-left 0.5s; }
      .menu-secondary ul li a i {
        margin-right: 20px; }
      .menu-secondary ul li a:hover {
        background-color: #475868;
        margin-left: 20px; }
  
  .menu_out {
    transform: translateX(0);
    opacity: 1; }
  
  .signup {
    background-image: url(../../assets/images/background.png);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; }
    .signup form {
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff; }
  
  .slideshow {
    margin-top: 20px; }
  
  .carousel-item .slide_text_left {
    left: 10%;
    color: black; }
  
  .carousel-item .slide_text_right {
    right: 10%;
    color: #fff; }
  
  .carousel-item .slide_text {
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%); }
    @media (min-width: 375px) {
      .carousel-item .slide_text {
        transform: translate(-50%, -50%);
        left: 50%;
        display: block; } }
    .carousel-item .slide_text h2, .carousel-item .slide_text p {
      font-weight: 700; }
      @media (min-width: 375px) {
        .carousel-item .slide_text h2, .carousel-item .slide_text p {
          font-size: 16px;
          margin-bottom: 0; } }
      @media (min-width: 768px) {
        .carousel-item .slide_text h2, .carousel-item .slide_text p {
          font-size: 20px;
          margin-bottom: 10px; } }
    .carousel-item .slide_text .button-1 {
      background-color: transparent;
      border: 3px solid #16a085;
      border-radius: 50px;
      -webkit-transition: all .15s ease-in-out;
      transition: all .15s ease-in-out;
      color: #16a085;
      display: block;
      padding: 7px 15px; }
      @media (min-width: 375px) {
        .carousel-item .slide_text .button-1 {
          display: inline-block;
          padding: 5px 10px; } }
      .carousel-item .slide_text .button-1:hover {
        color: #00d7c3;
        box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
        border: 3px solid #00d7c3; }
  
  .slide_right {
    width: 100%; }
    @media (min-width: 375px) {
      .slide_right {
        padding-left: 0;
        margin-top: 10px; } }
    @media (min-width: 992px) {
      .slide_right {
        padding-left: 20px;
        margin-top: 0; } }
    .slide_right a img {
      max-width: 100%;
      margin-bottom: 10px; }
  
  .title {
    background-color: #16a085;
    border-left: 5px solid #394958; }
    @media (min-width: 375px) {
      .title {
        text-align: center;
        flex-direction: column;
        padding-left: 0;
        padding-top: 20px;
        margin-top: 20px; } }
    @media (min-width: 1200px) {
      .title {
        flex-direction: row;
        padding-left: 20px; } }
    .title h3 {
      text-transform: uppercase;
      color: #e0dcdc;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      font-weight: 600; }
  
  .list {
    background-color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .list .list_phone .one_phone {
      text-align: center; }
      .list .list_phone .one_phone img {
        width: auto;
        display: inline-block; }
      .list .list_phone .one_phone .content a {
        display: inline-block;
        color: #212529;
        font-weight: 600;
        width: 100%; }
  
  .menu_product {
    margin-bottom: 20px; }
  
  .list_product {
    display: flex;
    flex-wrap: wrap; }
  
  .one_product {
    width: 100%;
    background: #fff;
    padding: 15px; }
    .one_product .one_product_image {
      position: relative;
      width: 100%;
      cursor: pointer;
      text-align: center;
      background-color: #fff;
      border: 2px solid #16a085; }
      .one_product .one_product_image img {
        max-width: 100%; }
      .one_product .one_product_image .addtocart {
        position: absolute;
        justify-content: center;
        text-align: center;
        height: 44px;
        width: 100%;
        line-height: 44px;
        bottom: -44px;
        opacity: 0;
        transition: all 0.5s; }
        .one_product .one_product_image .addtocart p {
          width: 50%;
          height: 100%;
          text-transform: uppercase;
          cursor: pointer;
          transition: all 0.5s;
          font-size: 12px;
          padding-bottom: 0; }
          .one_product .one_product_image .addtocart p:hover {
            color: #e0dcdc;
            background-color: #394958; }
        .one_product .one_product_image .addtocart .quick-view {
          background-color: #16a085;
          color: #fff; }
        .one_product .one_product_image .addtocart .add {
          background-color: #fff;
          color: #16a085; }
      .one_product .one_product_image:hover > .addtocart {
        bottom: 0px;
        opacity: 1; }
    .one_product .one_product_name {
      padding: 20px 15px;
      text-align: center;
      background-color: #f4f4f4;
      border-left: 2px solid #16a085;
      border-right: 2px solid #16a085;
      border-bottom: 2px solid #16a085;
      position: relative; }
      .one_product .one_product_name p {
        font-weight: bold;
        transition: all 0.5s;
        cursor: pointer; }
        .one_product .one_product_name p:hover {
          color: red; }
      .one_product .one_product_name span i {
        font-size: 24px;
        margin-right: -4px;
        cursor: pointer;
        color: orange;
        transition: all 0.5s; }
    .one_product:hover > .one_product_name, .one_product:hover > .one_product_image {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
  
  .subscript {
    padding: 20px 0; }
  
  .footer_text {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .footer_text img {
      display: inline-block; }
  
  .form_email {
    display: flex;
    align-items: center; }
    .form_email form {
      width: 100%;
      position: relative; }
      .form_email form input {
        width: 100%;
        outline: none;
        height: 40px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        text-indent: 20px; }
      .form_email form button {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        color: #16a085;
        background: none;
        font-size: 40px; }
  
  .footer {
    display: flex;
    background-color: #394958;
    padding: 20px;
    margin: 0 auto;
    color: #e0dcdc; }
    .footer a {
      color: #e0dcdc;
      display: block;
      padding: 10px 0; }
    .footer:hover {
      color: #fff;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); }
    .footer .icon span {
      font-size: 30px;
      padding: 15px;
      cursor: pointer;
      transition: all 0.5s;
      color: #16a085; }
    .footer .icon span:hover {
      transform: scale(1.1);
      color: red;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      transition: all 0.5s; }
  